nifi-template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>f5ca9391-0f9a-4e95-bbb1-28eeb73cceec</groupId>
    <name>twitter-dogs</name>
    <snippet>
        <connections>
            <id>01e81045-8f49-379f-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>37c89991-1b4b-3a06-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>acbafd5f-235b-3863-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1f6e18ac-c512-32fb-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>8b785ce7-d9ea-36d5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>75d028f2-f4fa-356a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>29290dcb-fd62-3988-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>75d028f2-f4fa-356a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>tweet</selectedRelationships>
            <source>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>37c89991-1b4b-3a06-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5d118692-9451-308e-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>2bc80316-bf9b-38fe-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>tweet</selectedRelationships>
            <source>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>37c89991-1b4b-3a06-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7c9f0e19-1ac7-37da-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>acbafd5f-235b-3863-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c4d62358-2676-38f0-0000-000000000000</groupId>
                <id>889ce0e3-d6c3-3036-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>889ce0e3-d6c3-3036-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>1.80499267578125</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Filter Endpoint</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>Gn1C8UREjXFFqJF5RupkwWaeH</value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>10368622-6Jns3psqDOCMgrV1sHfhokj0xXh1jiFv8juAIX1Qo</value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>dog,puppy,pup,犬,ワンちゃん,狗</value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Grab Garden Hose</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
        <processors>
            <id>8b785ce7-d9ea-36d5-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>607.8001007080077</x>
                <y>867.1166076660157</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>${filename}</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>yifeng-hdp</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>http://10.0.0.39</value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>10.0.0.39</value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>80</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutS3Object</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>acbafd5f-235b-3863-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>0.2198944091796875</x>
                <y>332.28023612976074</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>language</key>
                        <value>
                            <name>language</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.handle</key>
                        <value>
                            <name>twitter.handle</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.hashtags</key>
                        <value>
                            <name>twitter.hashtags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.msg</key>
                        <value>
                            <name>twitter.msg</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.time</key>
                        <value>
                            <name>twitter.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.tweet_id</key>
                        <value>
                            <name>twitter.tweet_id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.unixtime</key>
                        <value>
                            <name>twitter.unixtime</name>
                        </value>
                    </entry>
                    <entry>
                        <key>twitter.user</key>
                        <value>
                            <name>twitter.user</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>language</key>
                        <value>$.lang</value>
                    </entry>
                    <entry>
                        <key>twitter.handle</key>
                        <value>$.user.screen_name</value>
                    </entry>
                    <entry>
                        <key>twitter.hashtags</key>
                        <value>$.entities.hashtags[0].text</value>
                    </entry>
                    <entry>
                        <key>twitter.msg</key>
                        <value>$.text</value>
                    </entry>
                    <entry>
                        <key>twitter.time</key>
                        <value>$.created_at</value>
                    </entry>
                    <entry>
                        <key>twitter.tweet_id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>twitter.unixtime</key>
                        <value>$.timestamp_ms</value>
                    </entry>
                    <entry>
                        <key>twitter.user</key>
                        <value>$.user.name</value>
                    </entry>
                </properties>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Pull Key Attributes</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>2bc80316-bf9b-38fe-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>584.7016124420081</x>
                <y>371.3201411042191</y>
            </position>
            <bundle>
                <artifact>nifi-solr-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Solr Type</key>
                        <value>
                            <name>Solr Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Location</key>
                        <value>
                            <name>Solr Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Collection</key>
                        <value>
                            <name>Collection</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Stream Path</key>
                        <value>
                            <name>Content Stream Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Within</key>
                        <value>
                            <name>Commit Within</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JAAS Client App Name</key>
                        <value>
                            <name>JAAS Client App Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Socket Timeout</key>
                        <value>
                            <name>Solr Socket Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Connection Timeout</key>
                        <value>
                            <name>Solr Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections</key>
                        <value>
                            <name>Solr Maximum Connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections Per Host</key>
                        <value>
                            <name>Solr Maximum Connections Per Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Client Timeout</key>
                        <value>
                            <name>ZooKeeper Client Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Connection Timeout</key>
                        <value>
                            <name>ZooKeeper Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.1</key>
                        <value>
                            <name>f.1</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.10</key>
                        <value>
                            <name>f.10</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.11</key>
                        <value>
                            <name>f.11</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.2</key>
                        <value>
                            <name>f.2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.3</key>
                        <value>
                            <name>f.3</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.4</key>
                        <value>
                            <name>f.4</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.5</key>
                        <value>
                            <name>f.5</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.6</key>
                        <value>
                            <name>f.6</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.7</key>
                        <value>
                            <name>f.7</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.8</key>
                        <value>
                            <name>f.8</name>
                        </value>
                    </entry>
                    <entry>
                        <key>f.9</key>
                        <value>
                            <name>f.9</name>
                        </value>
                    </entry>
                    <entry>
                        <key>split</key>
                        <value>
                            <name>split</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Solr Type</key>
                        <value>Cloud</value>
                    </entry>
                    <entry>
                        <key>Solr Location</key>
                        <value>localhost:2181</value>
                    </entry>
                    <entry>
                        <key>Collection</key>
                        <value>tweets</value>
                    </entry>
                    <entry>
                        <key>Content Stream Path</key>
                        <value>/update/json/docs</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/json</value>
                    </entry>
                    <entry>
                        <key>Commit Within</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>JAAS Client App Name</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Solr Socket Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>Solr Connection Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections Per Host</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Client Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Connection Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>f.1</key>
                        <value>id:/id</value>
                    </entry>
                    <entry>
                        <key>f.10</key>
                        <value>coordinates_s:/coordinates</value>
                    </entry>
                    <entry>
                        <key>f.11</key>
                        <value>place_s:/place</value>
                    </entry>
                    <entry>
                        <key>f.2</key>
                        <value>text_t:/text</value>
                    </entry>
                    <entry>
                        <key>f.3</key>
                        <value>screenName_s:/user/screen_name</value>
                    </entry>
                    <entry>
                        <key>f.4</key>
                        <value>language_s:/lang</value>
                    </entry>
                    <entry>
                        <key>f.5</key>
                        <value>twitter_created_at_dt:/created_at</value>
                    </entry>
                    <entry>
                        <key>f.6</key>
                        <value>tag_ss:/entities/hashtags</value>
                    </entry>
                    <entry>
                        <key>f.7</key>
                        <value>originalposter_s:/retweeted_status/user/screen_name</value>
                    </entry>
                    <entry>
                        <key>f.8</key>
                        <value>source_s:/source</value>
                    </entry>
                    <entry>
                        <key>f.9</key>
                        <value>geo_s:/geo</value>
                    </entry>
                    <entry>
                        <key>split</key>
                        <value>/</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutSolrContentStream</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>connection_failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.solr.PutSolrContentStream</type>
        </processors>
        <processors>
            <id>37c89991-1b4b-3a06-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>646.3788655853272</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>tweet</key>
                        <value>
                            <name>tweet</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>tweet</key>
                        <value>${twitter.msg:isEmpty():not()}</value>
                    </entry>
                </properties>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Find only Tweets</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>tweet</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>75d028f2-f4fa-356a-0000-000000000000</id>
            <parentGroupId>c4d62358-2676-38f0-0000-000000000000</parentGroupId>
            <position>
                <x>604.6113024907893</x>
                <y>636.0151882791737</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.5.0.3.1.0.0-564</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>
                            <name>Merge Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>
                            <name>Merge Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                        <value>
                            <name>Correlation Attribute Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>
                            <name>mergecontent-metadata-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>
                            <name>Minimum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>
                            <name>Maximum Number of Entries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>
                            <name>Minimum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                        <value>
                            <name>Maximum Group Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>
                            <name>Max Bin Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>
                            <name>Maximum number of Bins</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>
                            <name>Delimiter Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                        <value>
                            <name>Header File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                        <value>
                            <name>Footer File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                        <value>
                            <name>Demarcator File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>
                            <name>Compression Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>
                            <name>Keep Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>
                            <name>Tar Modified Time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Merge Strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>Merge Format</key>
                        <value>Binary Concatenation</value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>Correlation Attribute Name</key>
                    </entry>
                    <entry>
                        <key>mergecontent-metadata-strategy</key>
                        <value>Do Not Merge Uncommon Metadata</value>
                    </entry>
                    <entry>
                        <key>Minimum Number of Entries</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Maximum Number of Entries</key>
                        <value>20000</value>
                    </entry>
                    <entry>
                        <key>Minimum Group Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum Group Size</key>
                    </entry>
                    <entry>
                        <key>Max Bin Age</key>
                        <value>180 seconds</value>
                    </entry>
                    <entry>
                        <key>Maximum number of Bins</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Delimiter Strategy</key>
                        <value>Filename</value>
                    </entry>
                    <entry>
                        <key>Header File</key>
                    </entry>
                    <entry>
                        <key>Footer File</key>
                    </entry>
                    <entry>
                        <key>Demarcator File</key>
                    </entry>
                    <entry>
                        <key>Compression Level</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Keep Path</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Tar Modified Time</key>
                        <value>${file.lastModifiedTime}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>MergeContent</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
    </snippet>
    <timestamp>07/06/2018 12:26:39 JST</timestamp>
</template>
